<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parabank Automation Suite" verbose="1">

    <listeners>
        <listener class-name=
            "com.parabank.listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.parabank.tests.LoginTest"/>
        </classes>
    </test>
    
     <test name="Registration Tests">
        <classes>
            <class name=
                "com.parabank.tests.RegistrationTest"/>
        </classes>
    </test>
        <test name="Account Tests">
        <classes>
            <class name="com.parabank.tests.AccountTest"/>
        </classes>
    </test>

    <test name="Transfer Funds Tests">
        <classes>
            <class name=
                "com.parabank.tests.TransferFundsTest"/>
        </classes>
    </test>
     <test name="Bill Pay Tests">
        <classes>
            <class name=
                "com.parabank.tests.BillPayTest"/>
        </classes>
    </test>
     <test name="Transaction Tests">
        <classes>
            <class name=
                "com.parabank.tests.TransactionTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="com.parabank.tests.APITest"/>
        </classes>
    </test>

</suite>